
@media screen and (min-width: 650px){
	.icono-menu{
		display: none;
	}
	.enlaces-menu {
		display: block;
		font-size: 15px;
	}
	.enlaces-menu h3 {
		border: none;
		padding: 5px;
	}
	.enlaces-menu>ul{
		display: flex;
	}
	.icono-submenu {
		display: none;
	}
	.enlaces-submenu{
		position: absolute;
		background: linear-gradient(0deg, #a2e1db, #ecd5e3);
		border-top: 3px solid #eee;
		width: 350px;
	}
	.nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.logo-img{
		width: 60px;
	}
	.logo-text {
		font-size: 27.5px;
	}

	.footer .caja{
		display: flex;
		gap: 25px;
	}
	.box-footer-0, .box-footer-1 {
		width: 50%;
	}

	.gato-con-letra .cat {
		width: 200px;
		height: 200px;
	}

	.ej .img {
		width: 100px;
	}

}

@media screen and (min-width: 900px){
	.nav {
		max-width: 90%;
		margin: auto;
	}
	.footer .caja {
		max-width: 90%;
		margin: auto;
		gap: 35px;
	}
	.main-letter {
		flex-direction: row;
	}
	.ejemplos {
		width: 70%;
	}
	
	.gato-con-letra .cat {
		width: 280px;
		height: 280px;
	
	}
}

