
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
/* text-logo */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); 
/* body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    background-color: #FEE1E8;
}
@import 'navbar.css';
@import 'navbar2.css';
@import 'home.css';
@import 'letrapage.css';
@import 'footer.css';
@import 'modal.css';

